@font-face {
    font-family: "Playwrite US";
    src: url(fonts/PlaywriteUSTradGuides-Regular.woff2) format(woff2);
}

@font-face {
    font-family: "Source Code Pro";
    src: url(fonts/SourceCodePro-VariableFont_wght.woff2);
}

/*
Осноные CSS-тэги
*/

main{
 color: #333;
}

h1,h2,h3{
 font-family: "Playwrite US", monospace;
}

article{
 font-family: "Source Code Pro", monospace;
}

td,tr,table{
 border: #000000 solid 3px;
}

nav{
    margin: 15px
}

img{
    margin-left: 15px;
    margin-right: 15px;
}

/*
Вторичные CSS-тэги
*/

/*
Навигационное меню
*/
.nav__button{
 margin-right: 8px;
}

.myname {
    display: flex;
    font-family: "Playwrite US", monospace;
    font-size: 18px;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.nav__elements {
    font-family: "Playwrite US", monospace;
    font-size: 18px;
    margin-left: auto; /* Ключевая строка! */
    display: flex;
    gap: 15px;
}

.nav__button{
    margin-left: 10px;
}

/*
Большой экранчик
*/

.logo{
 display: flex;
 width: auto;
 height: 640px;
 justify-content: center;
 flex-direction: column;
}

.logo__text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Playwrite US", monospace;
    font-size: 36px;
}

.logo__text__under{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Source Code Pro", monospace;
    font-size: 16px;
    margin-top: 5px;
}

/*
Контейнеры
*/

.container__noborder{
    margin: 10px; 
}

/*
Классная табличка
*/

/*
Элементы 1-ой колонки (Портфолио)
*/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 200px; /* Автоматические строки по 200px */
  margin-top: 10px;
  width: 100%;
  min-height: 1200px; /* Используем min-height вместо height */
  gap: 15px;
}

/* Задаем каждому элементу свою строку */

.item__title__text{
    font-family: "Playwrite US", monospace;
    font-size: 24px;
    margin: 10px;
}

.item__text{
    font-family: "Source Code Pro", monospace;
    font-size: 20px;
    margin: 10px;
}

.item1 {
  flex-direction: column;
  grid-column: 1;
  grid-row: 1;
  border: #333 solid 2px;
}

.item1_1 {
  grid-column: 1;
  grid-row: 2;
  border: #333 solid 2px;
}

.item1_2 {
  grid-column: 1;
  grid-row: 3;
  border: #333 solid 2px;
}

.item1_3 {
  grid-column: 1;
  grid-row: 4;
  border: #333 solid 2px;
}

.item1_4 {
  grid-column: 1;
  grid-row: 5 / 9;
  border: #333 solid 2px;
}

/*
Элементы 2-ой колонки (Work expirience)
*/
.item2{
  flex-direction: column;
  grid-column: 2;
  grid-row: 1;
  border: #333 solid 2px;
}

.item2_1{
border: #333 solid 2px;
grid-column: 2;
grid-row: 2 / 9;
}

/*
Элементы 3-ей колонки (Education)
*/

.item3{
border: #333 solid 2px;
grid-column: 3;
grid-row: 1 / 9;
}

/*
Рекомендации
*/

.rec__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 200px; 
  width: 100%;
  min-height: 1200px; 
  gap: 15px;
  margin-top: 25px;
}

.rec_item1{
    grid-column: 1;
    grid-row: 1;
    border: #333 solid 2px;
    border-radius: 10px;
}

.rec_item2{
    grid-column: 2;
    grid-row: 1;
    border: #333 solid 2px;
    border-radius: 10px;
}

.rec_item3{
    grid-column: 3;
    grid-row: 1;
    border: #333 solid 2px;
    border-radius: 10px;
}

/*
Боковая менюшка
*/

.container__main{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-auto-rows: 200px; 
  width: 100%;
  min-height: 1200px; 
  gap: 15px;
  margin-top: 25px;
}

.sidebar{
  grid-column: 1;
}

.main{
  grid-column: 2;
}

.sidebar__portfolio{
  flex-direction: row;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto; 
  border: #000000 solid 2px;
}

.sidebar__portfolio__item1__title{
  margin: 15px;
  grid-row: 1;
  font-family: "Playwrite US", monospace;
  flex-direction: row;
}

.sidebar_portfolio__item1__text{
  margin: 5px;
  font-family: "Source Code Pro", monospace;
  grid-row: 1;
}

.sidebar__portfolio__item2__title{
  margin: 15px;
  grid-row: 2;
  font-family: "Playwrite US", monospace;
  flex-direction: row;
}

.sidebar__portfolio__item2__text{
  margin: 5px;
  grid-row: 2;
  font-family: "Source Code Pro", monospace;
}

.sidebar__portfolio__item3__title{
  margin: 15px;
  grid-row: 3;
  font-family: "Playwrite US", monospace;
  flex-direction: row;
}

.sidebar_portfolio__item3__text{
  margin: 5px;
  grid-row: 3;
  font-family: "Source Code Pro", monospace;
}

.sidebar__portfolio__item4__title{
  margin: 15px;
  grid-row: 4;
  font-family: "Playwrite US", monospace;
  flex-direction: row;
}

.sidebar_portfolio__item4__text{
    margin: 5px;
  grid-row: 4;
  font-family: "Source Code Pro", monospace;
}

.sidebar__portfolio__item5__title{
  margin: 15px;
  grid-row: 5;
  font-family: "Playwrite US", monospace;
  flex-direction: row;
}

.sidebar_portfolio__item5__text{
    margin: 5px;
  grid-row: 5;
  font-family: "Source Code Pro", monospace;
}